/.DS_Store
/.classpath
/.github
/.project
/.settings
/.vscode
/target
src/main/resources/podcast.cfg
mobile_scripts/__pycache__/adb_server_fastapi.cpython-312.pyc
mobile_scripts/adb_server_fastapi.py
mobile_scripts/android_input.js
mobile_scripts/androidDemo.yaml
mobile_scripts/requirements.txt
mobile_scripts/run_test.sh
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/qiyi/.DS_Store
src/main/java/com/qiyi/android/.DS_Store
mobile_scripts/adb_server.log
src/main/resources/.DS_Store
