# Podcast Agent Configuration

# AI Model API Keys，当前如果要使用大模型的一些Util的类，需要配置以下的key，大模型的Util可以选择使用不同模型，建议使用deepseek的模型
GEMINI_API_KEY=
deepseek.api-key=
minimax.api-key=
moonshot.api-key=
moonshot.thinking=disabled
glm.api-key=

#企业内部机器人的client id和secret；podcast.admin.users 是管理员的userid，机器人启动后发消息，参看命令范例及使用介绍.txt
dingtalk.robot.client.id=
dingtalk.robot.client.secret=
dingtalk.robot.code=
dingtalk.agent.id=
podcast.admin.users=


# Podcast Directories，播客网站的下载目录、发布目录、已发布目录
podcast.download.dir=
podcast.publish.dir=
podcast.published.dir=

# Operational Settings，发布批次大小、chrome调试端口
podcast.publish.batch.size=1
chrome.debug.port=9222

# Alibaba Cloud Configuration，阿里云的api key、oss endpoint、access key id、access key secret、bucket name 
aliyun.api-key=
aliyun.oss.endpoint=
aliyun.oss.access-key-id=
aliyun.oss.access-key-secret=
aliyun.oss.bucket-name=
